.App-body
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2%;

}

.Title
{
  color: white;
  font-size: calc( 100px + 2vmin);
}

.Sub-intro
{
  color: white;
  font-size: calc(1px + 2vmin);
}
