.TopBar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    
    z-index: 10;
    position: fixed;
}

.MenuIcon
{   
    display: flex;
    padding-top: 1%;
    color: white;
    padding-right: 1%;
}