.TopBar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;    
    z-index: 10;
    position: fixed;
    padding-bottom: 1%;
}

.navbutttons
{
    display: none;
}

.MenuIcon
{   
    display: flex;
    padding-top: 1%;
    color: white;
    padding-right: 1%;
}